.kasa-banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 223px;
    margin-bottom: 40px;
    border-radius: 25px;

    .darken60 {
        filter: brightness(40%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .darken30 {
        filter: brightness(70%);
    }

    img {
        height: 100%;
        width: 100%;
        border-radius: 25px;
        object-fit: cover;
    }

    p {
        position: absolute;
        font-size: 48px;
        font-weight: 700;
        color: white;
        text-align: center;
        text-shadow: 
            -1px -1px 0 #000,  
             1px -1px 0 #000,
            -1px  1px 0 #000,
             1px  1px 0 #000,
             0px 4px 4px rgba(0, 0, 0, 0.25);
             /* Ombre de texte pour simuler la bordure */
    }

    @media screen and (min-width: 320px) and (max-width: 767.98px) {
        height: 111px;
        margin-bottom: 20px;
        border-radius: 10px;

        img {
            border-radius: 10px;
        }

        p {
            font-size: 24px;
            text-shadow: none;
            text-align: left;
            padding: 0 16px;
        }
    }
}
