kasa-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr)); 
    gap: 50px 60px;
    justify-items: center;
    margin-bottom: 50px;
    padding: 50px;
    border-radius: 25px;
    background-color: #F6F6F6;

    @media screen and (min-width: 320px) and (max-width: 767.98px) {
        grid-template-columns: 1fr;
        gap: 22px 0;
        padding: 0;
        border-radius: none;
        background-color: white;
    }
}