$padding-side: 100px;
$padding-side-mobile: 20px;

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 $padding-side;

  @media screen and (min-width: 320px) and (max-width: 767.98px) {
    padding: 0 $padding-side-mobile;
  }
}