.kasa-carrousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.kasa-carrousel-inner {
    display: flex;
    width: 100%;
    height: 415px;
}

.kasa-carrousel-inner.transition {
    transition: transform 0.5s ease-in-out;
}

.kasa-carrousel-inner > div {
    min-width: 100%;
    height: 100%;
}

.kasa-carrousel-inner img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
}

.kasa-carrousel-dynamics {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);
    height: 367px;
}

.kasa-carrousel-dynamics span {
    font-size: 18px;
    font-weight: 500;
    color: white;
    align-self: flex-end;
}

.kasa-carrousel-arrow-left-container,
.kasa-carrousel-arrow-right-container {
    cursor: pointer;
    width: 96px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.kasa-carrousel-arrow-left-container img,
.kasa-carrousel-arrow-right-container img {
    height: 80px;
    width: auto;
}

@media screen and (min-width: 320px) and (max-width: 767.98px) {
    .kasa-carrousel {
        height: 255px;
    }
    
    .kasa-carrousel-image{
        border-radius: 10px;
    }

    .kasa-carrousel-dynamics {
        height: 100%;
    }
    
    .kasa-carrousel-dynamics span {
        display: none;
    }
    
    .kasa-carrousel-arrow-left-container,
    .kasa-carrousel-arrow-right-container {
        width: 28px;
        height: 32px;
    }
    
    .kasa-carrousel-arrow-left-container img,
    .kasa-carrousel-arrow-right-container img {
        height: 32px;
    }
}